<app-header></app-header>
<section class="bg-dark text-light p-5 text-center text-sm-start" >
    <div class="container">
        <div class="d-sm-flex aligh-items-center justify-contenmt-between">
            <div><h1>Be more <span class="text-warning" >efficient</span></h1>
        <p class="lead">Lorem ipsum dolor sit amet consectetur adipisicing elit. 
            Necessitatibus qui ex blanditiis 
            similique amet asperior my-4es aspernatur soluta dolorum !
        </p>   
        <button class="btn btn-primary btn-lg">Start Working</button>
        </div>
           <img class="img-fluid w-50 d-none d-sm-block" src="assets\img\undraw_completed_tasks_vs6q.svg" alt="image">
        </div>
    </div>
</section>